//<BUTTONS (a.btn+tab)>
// Снипет (HTML): btn

.btn {
	font-family: $fontFamily;
	background-color: var(--btn-color);
	color: var(--main-color-text);
	min-height: 51px;	
	padding: 10px 40px;
	border-radius: 5px;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: all 0.3s ease 0s;
	position: relative;
	white-space: nowrap;

	&_br {
		border: 1px solid #565656;
		text-transform: uppercase;
	}

	//ios
	-webkit-appearance: none;
  -webkit-border-radius: 5px;

	@media (any-hover: hover) {
		&:hover {
			background-color: var(--btn-color-hover);
			color: rgb(248, 249, 198);
		}
	}

	&:active {
		background-color: var(--btn-color-hover);
    color: rgb(248, 249, 198);
	}

	&_inst {
		gap: 10px;
		&::before {
			content: "";
			display: inline-block;
			background-image: url('@img/icons/instagram.svg');
			background-size: cover;
			width: 18px;
			height: 18px;
		}
	}

}